* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #d7f0ef;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  padding: 20px;
  width: 90%;
}

header {
  width: 100%;
  color: white;
  padding: 0 2rem;
  position:sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.contentbox {
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
}
.navbar {
  
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  position: relative;
  margin-left: 2rem;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.nav-links a:hover {
  background-color: #34495e;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #27595e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  top: 100%;
  left: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #53acae;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.contentbox li {
  padding: 0.8rem;
  margin: 0.7rem 0;
  background-color: rgba(212, 201, 201, 0.5);
  color: #0a0a0a;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contentbox:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  /* border: 5px solid #7ecaca; */
  transform: scale(1.01);
}
.contentbox li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.01);
}
.contentbox ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 250px;
}
.contentbox h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:  lightgoldenrodyellow;
  font-size: 50px;
  margin-bottom: 10px;
  padding-bottom: 0;
  display: inline-block;
}
.sports{
  background: url('spt.jpg');
  background-size: cover;
}
.restaurant{
  background: url('fd.png');
  background-size: cover;
}
.gym{
  background: url('gm.jpg');
  background-size: cover;
}
.facilities{
  background: url('fac.jpg');
  background-size: cover;
}
footer{
  color: white;
  width: 100vw;
  height: auto;
  margin-top: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 50px;
}
#col1{
  margin: 5px;
  padding: 10px;
  text-align: left;
}
#col1 h3{
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
#col1 ul{
  padding: 10px;
}
#col1 ul li{
  margin: 5px;
  padding: 5px;
}
#col1 ul li a{
  text-decoration: none;
  color: white
}
#col1 ul li a:hover{
  padding: 5px;
  background-color: #2e4052;
  border-radius: 3px;
}
li img{
  width: 225px;
}
.pickle{
 background: url('pickle.png');
  background-size: cover;
}
.turf{
  background: url('turf.jpeg');
  background-size: cover;
}
.pool{
  background: url('pool.jpeg');
  background-size: cover;
}
.badminton{
  background: url('badminton.jpeg');
  background-size: cover;
}
.home-button {
  position: fixed;
  top: 30px;
  right: 30px; 
  z-index: 100;
}
.home-button a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f1c40f;
  color: white; 
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  font-size: 1.1rem;
  border: 2px solid #f1c40f; 
}
.home-button a:hover {
    box-shadow: 1px 1px black;
}
.ambience{
  background: url('ambience.png');
  background-size: cover;
}
.food{
  background: url('food.jpg');
  background-size: cover;
}
.menu{
  background: url('fd.png');
  background-size: cover;
}
.delivery{
  background: url('delivery.jpg');
  background-size: cover;
}
main div ul li a{
  text-decoration: none;
  color: black;
}
.banquet{
  background: url('banquet.png');
  background-size: cover;
}
.plot{
  background: url('plot.jpeg');
  background-size: cover;
}
.hall{
  background: url('hall.jpg');
  background-size: cover;
}
.conference{
  background: url('confence.jpg');
  background-size: cover;
}
.weight{
  background: url('weight.jpg');
  background-size: cover;
}
.crossfit{
  background: url('cross.jpeg');
  background-size: cover;
}
.cardio{
  background: url('cardio.png');
  background-size: cover;
}
.trainer{
  background: url('trainer.jpg');
  background-size: cover;
}
.logo img{
  height:50px;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  border: 2px solid rgba(14, 16, 75, 0.94);
}
.logo img:hover {
  transform: scale(1.1);
}
.name{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #dfdde7;
  font-size:xx-large;
  font-weight: bold;
  transition: all 1s ease;
}
.name:hover{
  transform: scale(1.05);
}

header, footer {
  background-color: #3a8d92;
  border-bottom: 3px solid #B0BEC5;
}

.dropdown-content {
  background-color: #3a8d92;
}